# OS files
*.DS_Store
*.log
*.swp
Thumbs.db

# Python/Django
__pycache__/
*.py[cod]
*.sqlite3
*.env
*.venv/
venv/
env/
db.sqlite3
/media/
/static/

# Node/React
node_modules/
npm-debug.log
yarn-error.log
*.cache
/dist/
build/

# IDE/Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Docker
docker-compose.override.yml
